{% extends 'base.html.twig' %}

{% block title %}Kanfony Board{% endblock %}

{% block body %}
    <style>

    </style>
    <h1>Tasks:</h1>
    <section class="con">
        {% for task in tasks %}
            {% if task.status==1 %}
                <div class="box">
                    <div>
                        <span>To-Do</span>
                        <h2>{{ task.name }}</h2>
                        <span>{{ task.description }}</span>
                        <span>{{ task.deadline|date('Y-m-d H:i:s') }}</span>
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endif %}
            {% if task.status==2 %}
                <div class="box">
                    <div>
                        <span>WIP</span>
                        <h2>{{ task.name }}</h2>
                        <span>{{ task.description }}</span>
                        <span></span>
                        <span>{{ task.deadline|date('Y-m-d H:i:s') }}</span>
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endif %}
            {% if task.status==3 %}
                <div class="box">
                    <div>
                        <span>Finished</span>
                        <h2>{{ task.name }}</h2>
                        <span>{{ task.description }}</span>
                        <span></span>
                        <span>{{ task.deadline|date('Y-m-d H:i:s') }}</span>
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
